*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 main {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4A4A4A;
  text-align: left;
  background-color: #fff;
}

h1, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #6A8E9B;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #6A8E9B;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

h1, h5,
.h1, .h5 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

h1, .h1 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw) ;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

code {
  font-size: 87.5%;
  color: black;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

.contact-container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .contact-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .contact-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .contact-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  font-family: 'Roboto', sans-serif;
}

 .col-md-5, .col-md-6, .col-md-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fee9d1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(253, 172, 83, 0.25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}


.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #4A4A4A;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #4A4A4A;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(253, 172, 83, 0.25);
}

 .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color:#6A8E9B;
  border-color: #6A8E9B;
}

.btn-primary:hover {
  color: white;
  background-color: #6A8E9B;
  border-color:#6A8E9B;
}

.btn-primary:focus {
  color: white;
  background-color: #6A8E9B;
  border-color: #6A8E9B;
  box-shadow: 0 0 0 0.2rem rgba(220, 152, 77, 0.5);
}

 .btn-primary:disabled {
  color: white;
  background-color: #6A8E9B;
  border-color: #6A8E9B;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: #6A8E9B;
  border-color: #6A8E9B;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 152, 77, 0.5);
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.carousel {
  position: relative;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.border {
  border: 1px solid #dee2e6 !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}


.px-4 {
  padding-right: 1.5rem !important;
}


.px-4 {
  padding-left: 1.5rem !important;
}


.py-5 {
  padding-top: 3rem !important;
}


.py-5 {
  padding-bottom: 3rem !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}

.text-center {
  text-align: center !important;
  font-family: 'Alegreya', serif;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-primary {
  color: #6A8E9B !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #fc8807 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .contact-container {
    min-width: 992px !important;
  }
}

/********** Template CSS ************/
h1 {
  font-weight: 500;
}


.font-weight-bold {
  font-weight: 700 !important;
}


.font-weight-semi-bold {
  font-weight: 600 !important;
}
