@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  background-color: rgb(242, 233, 225);
}

/* main container part ends */

@keyframes glowing {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
}

/* main container part ends */

/* footer part start*/
.footer-container{
	max-width: 1170px;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: rgb(242, 233, 225);
  padding: 70px 0;

}

.footer-col{
   width: 25%;
   padding: 0 15px;
   font-family: 'Roboto', sans-serif;
}

.footer-col h4{
	font-size: 22px;
	color: rgb(0, 0, 0);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(111, 138, 150);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: rgb(0,0, 0);
	text-decoration: none;
	font-weight: 300;
	color: rgb(92, 90, 80);
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: rgb(0,0, 0);
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(255, 255, 255);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(0, 0, 0);
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: rgb(255, 255, 255);
	background-color: rgb(111, 138, 150);
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;


  }
  
  .footer-col h4::before{
    content: '';
    position: relative;
    left:0;
    bottom: -10px;
    background-color: rgb(111, 138, 150);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    text-align: center;


  }

  .footer-col h4::before{
    content: '';
    position: relative;
    left:0;
    bottom: -10px;
    background-color: rgb(111, 138, 150);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

}


/* menu starts */

.main-header {
  padding: 20px 2%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}





.main-header div a:link,
.main-header div a:visited {
  text-decoration: none;
  color: white;
  /* font-size: 3.0rem; */
  /* font-weight: 700; */
  line-height: 1.2;
  
}

.navigation-menu-lists {
  list-style-type: none;
  margin-left: 1.1rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: black;
}





.nav-links:hover,
.nav-links:active {
  cursor: pointer;
}

.extra-1 {
background-color: #6A8E9B;
padding: 8px 20px 8px 20px;
/* font-weight: 700; */
border-radius: 20px;
color: white !important;
}

/* menu ends */

/* the cut barber gallery starts */

.Gallery {
  text-align: center;
}

h1.Gallery {
  font-size: 30px;
  margin-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  color: gray;
  letter-spacing: 2px;
  text-align: center;
}

/* the cut barber gallery ends */
